# Created by https://www.gitignore.io/api/maven,intellij
# Edit at https://www.gitignore.io/?templates=maven,intellij

### Maven ###
target/
.idea
pom.xml.*
*.iml
# End of https://www.gitignore.io/api/maven,intellij